.header {
    background-color: #B4E197;
    padding: 10px;
}
.btn1 {
    color: white;
    height: 4px;
    position: absolute;
    right: 10px;
    font-size: 20px;
    border: none; 
    background-color: #B4E197;
}
.btn2 {
    color: white;
    height: 4px;
    position: absolute;
    right: 110px;
    font-size: 20px;
    border: none;
    background-color: #B4E197;
}

.btn1:hover {
    color: rgb(110, 110, 110);
    background-color: #B4E197;
}
.btn2:hover {
    color: rgb(110, 110, 110);
    background-color: #B4E197;
}

.main img {
    height: 400px;
    width: 400px;
}
.main p {
    font-size: 20px;
}
<<<<<<< Updated upstream
=======

.imgSort {
    display: inline-block;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.main h2 {
    font-size: 35px;
}

.main p {
    font-size: 20px;
}





.sort {
    height: 110px;
}

.divSort {
    display: flex;
}

.imgTitleSort {
    display: inline-block;
    margin-left: 16%;
}

.title {
    padding-top: 100px;
    text-align: center;
    font-weight: 900;
    font-size: 45px;
}

.textSort {
    display: inline-block;
    margin-left: 3%;

    padding-top: 11%;
}

.subTitle {
    font-weight: 500;
    font-size: 30px;
}

.text {
    font-size: 20px;
}
>>>>>>> Stashed changes
