*{
    margin: 0;
    padding: 0;
   
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #B4E197;
    height: 85px;
}




.btn {
    position: fixed;
    bottom: 10%;
    left: 90%;
    width: 70px;
    height: 70px;
    background-color: #B4E197;
    border-radius: 50px;
}
.Listsort th{

    border-bottom: solid 1px black;
    color : #ababab;
}
.post td {
    border-bottom: solid 1px #ababab;
    width: 500px;
    height: 50px;
    text-align: center;
}
.Listsort {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}